@model PostUploader.Models.LoginViewModel
@{
    ViewBag.Title = "ABC Social Media Site - Login";
    Layout = null;
}
<!DOCTYPE html>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
<link href="~/Content/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/signin.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<script src="~/Scripts/sweetalert-dev.js"></script>

<script src="~/Scripts/knockout-3.3.0.js"></script>
<script src="~/Scripts/knockout.mapping.min.js"></script>
<script src="~/Scripts/ko.observableDictionary.js"></script>
<script src="~/Scripts/knockout-jqAutocomplete.js"></script>
<script src="~/Scripts/Page/master.js"></script>
<head>
    <title>ABC Social Media Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

</head>

<html>
<body style="font-family: 'Segoe UI'; overflow-x: hidden;">
 
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="col-md-1 col-sm-1 col-xs-1">
                @*<img src="~/Content/Images/delogo2.png" width="100" height="100" />*@

            </div>
            <div class="col-md-11 col-sm-11 col-xs-1">
                @*<blockquote>*@
                <h3 style="color: black">ABC Social Media Site</h3>

                @*</blockquote>*@
                <hr />

            </div>

            <hr />
        </div>

        <div class="row">


            @*<div class="col-md-7 col-sm-7 col-xs-7">
            </div>*@

            <div class="col-md-4 col-sm-4 col-xs-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-lock"></span>Login
                    </div>
                    <div class="panel-body">
                        <section id="loginForm">
                            @using (Html.BeginForm("Authenticate", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Use a local account to log in.</h4>
                                <hr />
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9 col-sm-9 col-xs-9">

                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Username)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>

                                <div class=" form-group col-md-8 col-sm-8 col-xs-8" style="margin-left: 125px; color: red">
                                    &nbsp;@if (TempData["notice"] != null)
                                    {
                                        <div class="alert alert-danger" role="alert" id="userAlert">
                                            @TempData["notice"]
                                        </div>@*
                                            <p>@TempData["notice"]</p>*@
                                    }
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        @*<label style="margin-left: 0%"><i class="glyphicon glyphicon-question-sign"></i> &nbsp;<a href="~/ForgotPassword">Forgot password?</a></label>*@
                                        <input type="submit" value="Log in" class="btn btn-default" style="float: right" />
                                    </div>
                                </div>

                            }
                        </section>
                    </div>
                </div>

                @*<div class="alert alert-success" role="alert">
                    <i class="glyphicon glyphicon-user"></i>New User?
                    <a href="~/NewAccount" style="cursor: pointer" data-bind="value: newUser,">
                        <b>Click here to sign up..</b>
                    </a>
                </div>*@
            </div>
        </div>


        <div class="navbar navbar-fixed-bottom">
                <div class="footer">
                    <div class="footer-inner">
                        <div class="container-fluid">
                            <div style="font-size: small; font-style: oblique">
                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="text-center">
                                             ABC Social Media Site 1.0.0 <br/>
                                             © RSR Solutions<br />
                                            All rights reserved.<br />
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




    





</body>
</html>




